<div class="layout">
  <!-- IZQUIERDA: Tarjetas -->
  <div class="left">
    @for (sec of secciones; track sec.id) {

    <div class="card">
      <h3>{{ sec.titulo }}</h3>
      <p>{{ sec.descripcion }}</p>

      <div class="contenido">
        <strong>Sugerencias:</strong>
        <ul>
          @for (s of sec.sugerencias; track s) {
          <li>{{ s }}</li>
          }
        </ul>

        <textarea
          placeholder="Escribe aquí la planificación de esta sección..."
        >
        </textarea>
      </div>
    </div>
    }
  </div>

  <!-- DERECHA: Vista Previa -->
  <div class="right">
    <h2>Vista Previa de la Clase</h2>

    <div class="preview">
      <h3>Apertura</h3>
      <p>{{ form.value.apertura }}</p>

      <h3>Desarrollo</h3>
      <p>{{ form.value.desarrollo }}</p>

      <h3>Práctica</h3>
      <p>{{ form.value.practica }}</p>

      <h3>Cierre</h3>
      <p>{{ form.value.cierre }}</p>
    </div>
  </div>
</div>
