<div class="container">
  <h1>Iniciar sesión</h1>
  <mat-grid-list cols="1" rowHeight="100px">
    <!---Usuario-->
    <mat-grid-tile
      ><mat-form-field>
        <mat-label>Ingresa tu usuario</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          [formControl]="email"
          (blur)="updateErrorMessage()"
          required
        />
        @if (email.invalid) {
        <mat-error>{{ errorMessage() }}</mat-error>
        }
      </mat-form-field></mat-grid-tile
    >
    <!--Contraseña-->
    <mat-grid-tile
      ><mat-form-field>
        <mat-label>Ingresa tu contraseña</mat-label>
        <input
          matInput
          placeholder="*******"
          [formControl]="email"
          type="password"
          (blur)="updateErrorMessage()"
          required
        />
        @if (email.invalid) {
        <mat-error>{{ errorMessage() }}</mat-error>
        }
      </mat-form-field></mat-grid-tile
    >
  </mat-grid-list>
  <a>Olvidaste tu contraseña?</a>
  <button type="button" class="btn btn-primary">Iniciar sesión</button>
</div>
