<h2 class="title">Planificaciones</h2>

<table class="tbl fade-in">
  <thead>
    <tr>
      <th>Asignatura</th>
      <th>Curso</th>
      <th>Unidad</th>
      <th>Semestre</th>
      <th>Año</th>
      <th>Estado</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let p of planificaciones">
      <td>{{ p.asignatura }}</td>
      <td>{{ p.curso }}</td>
      <td>{{ p.unidad }}</td>
      <td>{{ p.semestre }}</td>
      <td>{{ p.ano }}</td>

      <!-- Estado con clase convertida a formato CSS -->
      <td class="estado" [class]="p.estado.toLowerCase().replace(' ', '-')">
        {{ p.estado }}
      </td>
    </tr>
  </tbody>
</table>
