<div class="sidebar">
  <div class="logo">
    <a href="dashboard"><p class="colegio_Titulo">Colegio X</p></a>
  </div>
  <div class="items">
    <button (click)="dashboardRouting()" class="menu-item btn-animado">
      <img src="/assets/icons/asignatura.png" />
      <span>Inicio</span>
    </button>

    <button (click)="asignaturasRouting()" class="menu-item btn-animado">
      <img src="/assets/icons/asignatura.png" />
      <span>Mis cursos</span>
    </button>

    <button (click)="materialRouting()" class="menu-item btn-animado">
      <img src="/assets/icons/material.png" alt="Material Educativo" />
      <span>Material Educativo</span>
    </button>
  </div>
</div>
